* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

* {
  scrollbar-width: 0.5rem;
  scrollbar-color: #131313 #d6d6d6;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #fff;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  border: 0 none #fff;
  background-color: #2d2d2d;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #131313;
}

body .lock {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background-color: #131313;
}

.page {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 90px;
}

.page [data-observ] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background: transparent;
  pointer-events: none;
}

.page_start {
  padding-top: 6.875rem;
}

[class*=__container] {
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

[class*=-img] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-close {
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid #fff;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.button-close:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button-close:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-main {
  padding: 1.25rem 4rem;
  background: -o-linear-gradient(330deg, #21363d 0%, #3f5e7d 100%);
  background: linear-gradient(120deg, #21363d 0%, #3f5e7d 100%);
  border: 0.125rem solid #fff;
  border-radius: 0.75rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.button-main:hover {
  -webkit-box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.125rem);
      -ms-transform: translateY(-0.125rem);
          transform: translateY(-0.125rem);
}

.button-main:hover::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-main::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
}

.button-main__text {
  position: relative;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  pointer-events: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  /*&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 70%);
  }*/
}

.header.sticky {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.header.sticky .header__container {
  height: 3.125rem;
}

.header.sticky .logo__image-img {
  -ms-flex-preferred-size: 2.5rem;
      flex-basis: 2.5rem;
  height: 2.5rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.5rem;
  -webkit-transition: all 280ms ease-in-out 0ms;
  -o-transition: all 280ms ease-in-out 0ms;
  transition: all 280ms ease-in-out 0ms;
  height: 6.875rem;
}

.header__menu {
  position: relative;
}

.header__logo {
  margin-right: auto;
  position: relative;
  padding-right: 0.625rem;
}

.header__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__btn {
  background-color: #fcd54c;
  height: 2.5rem;
  color: #131313;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 0.75rem 0.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__btn:hover {
  -webkit-transform: translateY(0.1875rem);
      -ms-transform: translateY(0.1875rem);
          transform: translateY(0.1875rem);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__btn:focus,
.header__btn:active {
  background-color: #131313;
  border: 1px solid #fcd54c;
  color: #fcd54c;
}

/*.logo {
  display: flex;
  align-items: center;
  @include adaptiveClamp("column-gap", 16, 10, 1400, 768, 1);
  // .logo__image-img
  &__image-img {
    position: relative;
    flex: 0 0 rem(80);
    height: rem(80);
    border-radius: 50%;
    border: rem(2) solid #fff;
    overflow: hidden;
    transition: $standartTrans;
    @include media(1024) {
      flex-basis: rem(40);
      height: rem(40);
    }
  }
  &__text {
    color: #fff;
    line-height: prc(19, 16);
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    transition: $standartTrans;
    &:hover {
      color: #39a4d6;
    }
  }
}
// ===========================================================================
.menu {
  display: flex;
  align-items: center;
  overflow: hidden;
  //position: relative;
  @include adaptiveClamp("column-gap", 40, 10, 1400, 768, 1);
  @include media(900) {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(50) rem(24) rem(20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    gap: 50px;
    transition: top 0.35s ease;
    background: url(./../images/header/bg.png) no-repeat 0 0 / cover;
    @include media(425) {
      gap: 40px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#2a4a67, 40%);
      backdrop-filter: blur(rem(1));
    }
    &.active {
      top: 0;
    }
  }

  &__link {
    position: relative;
    font-size: rem(16);
    @include adaptiveClamp("font-size", 16, 14, 1400, 768, 1);
    font-weight: 300;
    color: #fff;
    font-family: "MuseoSansCyrl";
    transition: $standartTrans;
    &:hover {
      color: #39a4d6;
    }
    @include media(900) {
      font-size: rem(24);
      text-transform: uppercase;
    }
    @include media(425) {
      font-size: rem(20);
    }
    // .menu__link_button
    &_button {
      background-color: transparent;
    }
  }
}*/

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__icon {
  position: absolute;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 15px;
}

.logo__title {
  font-family: "Gilroy";
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
}

.logo__subtitle {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  opacity: 60%;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.8125rem;
  margin-right: auto;
  position: relative;
}

.menu__item:hover {
  -webkit-transform: translateY(0.125rem);
      -ms-transform: translateY(0.125rem);
          transform: translateY(0.125rem);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: #fcd54c;
}

.menu__link:hover:before,
.menu__link:focus:before,
.menu__link:active:before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fcd54c;
}

.menu__link_first {
  position: relative;
  padding-right: 20px;
}

.menu__link_first:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}

.menu__sub-list {
  border: 1px solid #979797;
  position: absolute;
  top: 150%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15.625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
}

.menu__sub-link {
  padding: 0.625rem 1.25rem;
  font-family: "Gilroy";
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.menu__sub-link:hover {
  -webkit-transform: translateY(0.0625rem);
      -ms-transform: translateY(0.0625rem);
          transform: translateY(0.0625rem);
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.menu__sub-link:focus,
.menu__sub-link:active {
  color: #fcd54c;
}

.menu__sub-link_first {
  background-color: #131313;
}

.menu__sub-link_second {
  color: #131313;
  background-color: #fcd54c;
}

.menu__sub-link_second:focus,
.menu__sub-link_second:active {
  background-color: #131313;
}

.menu__sub-link_third {
  background-color: #131313;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.contacts__item {
  color: #929292;
  text-transform: uppercase;
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.contacts__item:hover,
.contacts__item:focus,
.contacts__item:active {
  color: #fcd54c;
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.contacts__item:hover {
  -webkit-transform: translateY(0.0625rem);
      -ms-transform: translateY(0.0625rem);
          transform: translateY(0.0625rem);
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.contacts__phone {
  color: #fff;
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.contacts__phone:hover,
.contacts__phone:focus,
.contacts__phone:active {
  color: #fcd54c;
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.contacts__phone:hover {
  -webkit-transform: translateY(0.0625rem);
      -ms-transform: translateY(0.0625rem);
          transform: translateY(0.0625rem);
  -webkit-transition: all 0.5 ease;
  -o-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.footer {
  padding: 1.25rem 0;
  background: #131313;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin: 0 auto;
}

.icon-menu {
  display: none;
}

@media (min-width: 68.75em) {
  .contacts {
    gap: 3.3125rem;
  }
}

@media (min-width: 87.5em) {
  .header__container {
    gap: 7.5rem;
  }
}

@media (min-width: 75em) {
  .menu__list {
    gap: 2.8125rem;
  }
}

@media (max-width: 1024.98px) {
  .header__container {
    height: 5.625rem;
  }
}

@media (max-width: 960.98px) {
  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 3.125rem 1.5rem 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-y: auto;
    gap: 50px;
    -webkit-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    transition: top 0.35s ease;
  }

  .menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .menu.active {
    top: 0;
  }

  .contacts {
    gap: 3.3125rem;
  }

  .icon-menu {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    display: block;
    z-index: 5;
    -webkit-transition: all 280ms ease-in-out 0ms;
    -o-transition: all 280ms ease-in-out 0ms;
    transition: all 280ms ease-in-out 0ms;
  }

  .icon-menu.active span {
    opacity: 0;
  }

  .icon-menu.active::before {
    -webkit-transform: translate(-50%) rotate(45deg);
        -ms-transform: translate(-50%) rotate(45deg);
            transform: translate(-50%) rotate(45deg);
    top: 50%;
    background-color: #fff;
  }

  .icon-menu.active::after {
    -webkit-transform: translate(-50%) rotate(-45deg);
        -ms-transform: translate(-50%) rotate(-45deg);
            transform: translate(-50%) rotate(-45deg);
    top: 50%;
    background-color: #fff;
  }

  .icon-menu span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 1.875rem;
    height: 0.125rem;
    background-color: #fff;
    -webkit-transition: all 280ms ease-in-out 0ms;
    -o-transition: all 280ms ease-in-out 0ms;
    transition: all 280ms ease-in-out 0ms;
  }

  .icon-menu::after,
  .icon-menu::before {
    content: "";
    position: absolute;
    width: 1.875rem;
    height: 0.125rem;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 280ms ease-in-out 0ms;
    -o-transition: all 280ms ease-in-out 0ms;
    transition: all 280ms ease-in-out 0ms;
  }

  .icon-menu::after {
    top: 0.4375rem;
  }

  .icon-menu::before {
    bottom: 0.4375rem;
  }
}

@media (max-width: 960.98px) and (max-width: 425.98px) {
  .menu {
    gap: 40px;
  }
}

@media (max-width: 767.98px) {
  .header__btn {
    display: none;
  }

  .contacts {
    display: none;
  }
}

@media (max-width: 510.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 62.5em) {
  .header__container {
    gap: 1.875rem;
  }

  .menu__list {
    gap: 1.25rem;
  }

  .contacts {
    gap: 1.875rem;
  }
}

@media (min-width: 62.5em) and (max-width: 87.5em) {
@supports (gap: clamp( 1.875rem , -12.1875rem  +  22.5vw , 7.5rem )) {
    .header__container {
      gap: clamp( 1.875rem , -12.1875rem  +  22.5vw , 7.5rem );
    }
}

@supports not (gap: clamp( 1.875rem , -12.1875rem  +  22.5vw , 7.5rem )) {
    .header__container {
      gap: calc(1.875rem + 5.625 * (100vw - 62.5rem) / 25);
    }
}
}

@media (min-width: 62.5em) and (max-width: 75em) {
@supports (gap: clamp( 1.25rem , -6.5625rem  +  12.5vw , 2.8125rem )) {
    .menu__list {
      gap: clamp( 1.25rem , -6.5625rem  +  12.5vw , 2.8125rem );
    }
}

@supports not (gap: clamp( 1.25rem , -6.5625rem  +  12.5vw , 2.8125rem )) {
    .menu__list {
      gap: calc(1.25rem + 1.5625 * (100vw - 62.5rem) / 12.5);
    }
}
}

@media (min-width: 62.5em) and (max-width: 68.75em) {
@supports (gap: clamp( 1.875rem , -12.5rem  +  23vw , 3.3125rem )) {
    .contacts {
      gap: clamp( 1.875rem , -12.5rem  +  23vw , 3.3125rem );
    }
}

@supports not (gap: clamp( 1.875rem , -12.5rem  +  23vw , 3.3125rem )) {
    .contacts {
      gap: calc(1.875rem + 1.4375 * (100vw - 62.5rem) / 6.25);
    }
}
}