.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $blackColor;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blackColor;
  }
  &.sticky {
    box-shadow: 0 2px 15px rgba(#000, 10%);
    .header__container {
      height: rem($headerHeight - 60);
    }
    .logo__image-img {
      flex-basis: rem(40);
      height: rem(40);
    }
  }
  // .header__container
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(120);
    transition: $standartTrans;
    height: rem($headerHeight);
    @include media(1024) {
      height: rem($headerHeight - 20);
    }
    @include adaptiveClamp("gap", 120, 30, 1400, 1000, 1);
  }
  &__menu {
    position: relative;
  }
  &__logo {
    margin-right: auto;
    position: relative;
    padding-right: rem(10);
  }
  &__contacts {
    flex: 0 0 auto;
  }
  &__btn {
    @include media(767) {
      display: none;
    }
  }
  &__hide {
    @media (min-width: 768px) {
      display: none;
    }
  }
  // .header__burger
  &__burger {
  }
}
.hide {
  @media (max-width: 767px) {
    margin-top: rem(100);
    display: flex;
    flex-direction: column;
    gap: rem(35);

    &__button {
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      gap: rem(35);
      align-items: center;
    }

    &__phone {
    }

    &__lang {
      display: flex;
      gap: rem(8);
    }

    &__item {
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  &__icon {
    position: absolute;
  }
  &__text {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
  &__title {
    font-family: "Gilroy";
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  &__subtitle {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    opacity: 60%;
  }
}
.menu {
  width: 100%;
  //display: flex;
  align-items: center;
  @include media(960) {
    position: fixed;
    top: 100%;
    // bottom: 100%;
    //top: 100%;
    //padding-top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: rem(205) rem(0);
    display: flex;
    flex-direction: column;
    background-color: #000;
    overflow-y: auto;
    transition: all 0.35s ease;
    &.active {
      top: 90px;
    }
    @include media(767) {
      //margin-top: 105px;
      padding: rem(150) rem(0);
    }
  }
  &__list {
    display: flex;
    gap: rem(45);
    margin-right: auto;
    position: relative;
    @include adaptiveClamp("gap", 45, 20, 1200, 1000, 1);
    @include media(960) {
      justify-content: center;
      flex-direction: column;
      gap: rem(50);

      margin: 0 auto;
    }
    @include media(767) {
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #fcd54c;
        position: absolute;
        bottom: rem(-50);
        left: 0;
      }
    }
    @include media(500) {
      gap: rem(30);
    }
  }

  &__item {
  }

  &__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    position: relative;
    transition: all 0.5s ease;
    display: inline-block;
    @include media(960) {
      font-family: "Gilroy", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: prc(44, 36);
    }

    &:hover,
    &:focus,
    &:active {
      &:before {
        content: "";
        position: absolute;
        bottom: -10%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fcd54c;
      }

      color: #fcd54c;
    }
    &:hover {
      transform: translateY(rem(2));
    }
    &_first {
      position: relative;
      padding-right: 20px;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #fff;
      }
      @include media(960) {
        position: relative;
        padding-right: 50px;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-left: 9px solid transparent;
          border-right: 9px solid transparent;
          border-top: 10px solid #fff;
        }
      }
    }
  }

  &__sub-list {
    border: 1px solid #979797;
    position: absolute;
    top: 150%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: rem(250);
    flex: 0 0 auto;
    display: none;
    @include media(960) {
      position: relative;
      border: none;
      padding-left: rem(22);
      padding-top: rem(20);
      gap: rem(15);
      top: 0;
    }
  }

  &__sub-link {
    padding: rem(10) rem(20);
    font-family: "Gilroy";
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    display: inline-block;
    transition: all 0.5 ease;
    &:hover {
      transform: translateY(rem(1));
    }
    &:focus,
    &:active {
      color: #fcd54c;
    }
    &_first {
      background-color: $blackColor;
    }
    &_second {
      color: $blackColor;
      background-color: #fcd54c;
      &:focus,
      &:active {
        background-color: $blackColor;
      }
    }
    &_third {
      background-color: $blackColor;
    }
    @include media(960) {
      background-color: transparent;
      color: #fff;
      padding: 0;
    }
  }
}
.contacts {
  display: flex;
  gap: rem(53);
  align-items: center;
  @include adaptiveClamp("gap", 53, 30, 1100, 1000, 1);
  @include media(960) {
    gap: rem(53);
  }
  @include media(767) {
    display: none;
  }
  &__lang {
    display: flex;
    gap: rem(8);
  }
}
.item {
  color: #929292;
  text-transform: uppercase;
  transition: all 0.5 ease;
  &:hover,
  &:focus,
  &:active {
    color: #fcd54c;
  }
  &:hover {
    transform: translateY(rem(1));
  }
}

.phone {
  color: #fff;
  transition: all 0.5 ease;
  &:hover,
  &:focus,
  &:active {
    color: #fcd54c;
  }
  &:hover {
    transform: translateY(rem(1));
  }
}
