.home {
  &__container {
    position: relative;
    max-width: rem($containerWidth);
    min-height: 100vh;
    padding-left: rem(356);
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  // .home__image-back
  &__image-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__title {
    @media (max-width: 740px) {
      width: 450px;
      @include adaptiveClamp("width", 450, 260, 740, 320, 1);
    }
  }
  &__row {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include media(1200) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media(767) {
      position: relative;
      grid-columns: 1fr 1fr, 1fr repeat(3, 1fr);
    }
  }
  &__click {
    display: flex;
    gap: rem(35);
    @include media(860) {
      gap: rem(13);
    }
  }
  &__content {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    max-width: 116px;
    @include adaptiveClamp("font-size", 16, 12, 1800, 768, 1);
    @include adaptiveClamp("line-height", 26, 14, 1800, 768, 1);
    @include adaptiveClamp("font-size", 12, 10, 768, 425, 1);
    @include adaptiveClamp("line-height", 14, 12, 768, 425, 1);
    @media (max-width: 767px) {
      align-self: flex-start;
    }
    &_num {
      font-family: "Gilroy", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 24px;

      @include adaptiveClamp("font-size", 60, 40, 1800, 768, 1);
      @media (max-width: 767px) {
        align-self: flex-start;
      }
    }
    &_num-first {
      color: #fcd54c;
    }

    &_prev,
    &_next {
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        color: #fcd54c;
      }
      @include adaptiveClamp("font-size", 30, 10, 1800, 768, 1);
    }
    &_prev {
      color: #fff;
      position: relative;
      &::after {
        content: "";
        position: absolute;

        width: 20px;
        height: 1px;
        background-color: #fff;
        top: 50%;
        margin-left: 10%;
        transform: rotate(90deg);
      }
    }
    &_next {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 38px;
    @include adaptiveClamp("padding-top", 50, 10, 1800, 768, 1);
    @include adaptiveClamp("padding-bottom", 50, 10, 1800, 768, 1);
    @include adaptiveClamp("padding-left", 60, 30, 1800, 768, 1);
    @include adaptiveClamp("padding-right", 38, 12, 1800, 768, 1);
    @media (max-width: 767px) {
      //flex-direction: column;
      align-items: center;
      padding-top: 0px;
      padding-bottom: 14px;
      padding-right: 0px;
      //gap: 10px;
      //justify-content: space-between;
    }
    &_navigation {
      grid-column: 2/3;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(1200) {
        grid-column: 1/2;
      }
      @media (max-width: 767px) {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &_two {
      background-color: #272727;
      @media (max-width: 767px) {
      }
    }
    &_three {
      background-color: #272727;
      @media (max-width: 767px) {
        //display: none;
      }
    }
    &_four {
      background-color: #272727;
      @media (max-width: 767px) {
        //display: none;
      }
    }
  }
  &__social {
    position: absolute;
    top: rem(150);
    right: rem(20);
    display: flex;
    flex-direction: column;
    align-items: end;
    @include adaptiveClamp("gap", 20, 7, 1800, 768, 1);
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: rem(28);
  @include adaptiveClamp("gap", 22, 5, 1800, 768, 1);
  &__border {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include adaptiveClamp("width", 126, 74, 1400, 768, 1);
    @include adaptiveClamp("height", 387, 229, 1400, 768, 1);
    @media (max-width: 767px) {
      width: 126px;
      height: 280px;
      @include adaptiveClamp("width", 126, 63, 768, 425, 1);
      @include adaptiveClamp("height", 280, 195, 768, 425, 1);
    }
    & svg {
      width: 100%;
      height: 100%;
    }
  }

  &__up {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    @include adaptiveClamp("font-size", 16, 10, 1800, 768, 1);
    @include adaptiveClamp("line-height", 19, 11, 1800, 768, 1);
  }

  &__center {
    position: relative;
    font-family: "Space Grotesk", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
    max-width: 742px;
    @include adaptiveClamp("max-width", 742, 430, 1440, 900, 1);
    @include adaptiveClamp("font-size", 96, 50, 1800, 768, 1);
    @include adaptiveClamp("line-height", 100, 64, 1800, 768, 1);
    @media (max-width: 767px) {
      @include adaptiveClamp("font-size", 50, 30, 768, 325, 1);
      @include adaptiveClamp("line-height", 64, 38, 768, 325, 1);
    }

    span {
      color: #fcd54c;
    }
  }

  &__down {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    display: flex;
    align-items: center;
    gap: rem(7);
    @include adaptiveClamp("font-size", 20, 16, 1800, 768, 1);
    @include adaptiveClamp("line-height", 23, 19, 1800, 768, 1);
    @media (max-width: 767px) {
      @include adaptiveClamp("font-size", 16, 12, 768, 425, 1);
      @include adaptiveClamp("line-height", 19, 14, 768, 425, 1);
      padding-top: 55px;
    }
  }
}
