.page__home {
  //margin-top: 100px;
}
.home {
  position: relative;
  background: url(../../images/home-bg.png) no-repeat center / cover;
  @media (max-width: 767px) {
    background-position: left center;
  }
  &__title {
    padding-left: 350px;
    padding-top: 278px;
   
   padding-bottom: 329px;
    @include adaptiveClamp("padding-top", 278, 39, 1440, 768, 1);
   @include adaptiveClamp("padding-bottom", 329, 106, 1440, 768, 1);
    @include adaptiveClamp("padding-left", 350, 30, 1440, 768, 1);
  
    
  }
  &__row {
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include media (1200){
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__click {
    display: flex;
    gap: rem(35);
    @include media (860){
      gap: rem(13);
    }
  }
  &__content {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    max-width: 116px;
    @include adaptiveClamp("font-size", 16, 12, 1800, 768, 1);
    @include adaptiveClamp("line-height", 26, 14, 1800, 768, 1);
    @include adaptiveClamp("font-size", 12, 10, 768, 425, 1);
    @include adaptiveClamp("line-height", 14, 12, 768, 425, 1);
    @media (max-width: 767px) {
      align-self: flex-start;
    }
    &_num {
      font-family: "Gilroy", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 24px;

      @include adaptiveClamp("font-size", 60, 40, 1800, 768, 1);
      @media (max-width: 767px) {
        align-self: flex-start;
      }
    }
    &_num-first {
      color: #fcd54c;
    }

    &_prev,
    &_next {
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        color: #fcd54c;
      }
      @include adaptiveClamp("font-size", 30, 10, 1800, 768, 1);
    }
    &_prev {
      color: #fff;
      position: relative;
      &::after {
        content: "";
        position: absolute;

        width: 20px;
        height: 1px;
        background-color: #fff;
        top: 50%;
        margin-left: 10%;
        transform: rotate(90deg);
      }
    }
    &_next {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 38px;
    @include adaptiveClamp("padding-top", 50, 10, 1800, 768, 1);
    @include adaptiveClamp("padding-bottom", 50, 10, 1800, 768, 1);
    @include adaptiveClamp("padding-left", 60, 30, 1800, 768, 1);
    @include adaptiveClamp("padding-right", 38, 12, 1800, 768, 1);
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      padding-top: 40px;

      padding-right: 29px;
      gap: 10px;
      justify-content: space-between;
    }
    &_navigation {
      grid-column: 2/3;
      display: flex;
      align-items: center;
      justify-content: center;
      @include media (1200){
        grid-column: 1/2;
      }
    }
    &_two {
      background-color: #272727;
    }
    &_three {
      background-color: #272727;
    }
    &_four {
      background-color: #272727;
    }
  }
  &__social {
   
    display: flex;
    flex-direction: column;

    align-items: end;
    margin-right: 20px;
    margin-top: 40px;
    gap: 20px;
    @include adaptiveClamp("margin-top", 40, 20, 1000, 768, 1);
    @include adaptiveClamp("gap", 20, 7, 1800, 768, 1);
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.title {
  display: flex;
  flex-direction: column;
  gap: 22px;
  position: relative;
  @include adaptiveClamp("gap", 22, 5, 1800, 768, 1);


  &__border {
    display: none;
  }
  &__up {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    @include adaptiveClamp("font-size", 16, 10, 1800, 768, 1);
    @include adaptiveClamp("line-height", 19, 11, 1800, 768, 1);
  }

  &__center {
    font-family: "Space Grotesk", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
    max-width: 742px;
    @include adaptiveClamp("max-width", 742, 430, 1440, 900, 1);
    @include adaptiveClamp("font-size", 96, 50, 1800, 768, 1);
    @include adaptiveClamp("line-height", 100, 64, 1800, 768, 1);
    @media (max-width: 767px) {
      @include adaptiveClamp("font-size", 50, 30, 768, 325, 1);
      @include adaptiveClamp("line-height", 64, 38, 768, 325, 1);
    }

    span {
      color: #fcd54c;
    }
  }

  &__down {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    @include adaptiveClamp("font-size", 20, 16, 1800, 768, 1);
    @include adaptiveClamp("line-height", 23, 19, 1800, 768, 1);
    @media (max-width: 767px) {
      @include adaptiveClamp("font-size", 16, 12, 768, 425, 1);
      @include adaptiveClamp("line-height", 19, 14, 768, 425, 1);
    }
  }
}
.social-icon {
  position: absolute;
  top:0;
  right:0;
}